[submodule "partner-contact"]
	path = partner-contact
	url = https://github.com/OCA/partner-contact
	branch = 13.0

[submodule "sale-workflow"]
	path = sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 13.0
